<% provide(:title,"登录") %>
<h1>登录</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

       <%= f.label :email, "邮箱" %>
       <%= f.text_field :email %>

       <%= f.label :password,"密码" %>
       <%= link_to "（忘记密码）", new_password_reset_path %>
       <%= f.password_field :password %>
        <p>请输入验证码 <%= text_field_tag :captcha %></p>
        <p class="yanzhengma">
          <%= link_to '', login_path %>
          <%= captcha_tag %></p>

       <%= f.label :remember_me, class: "checkbox inline" do %>
         <%= f.check_box :remember_me %>
         <span>记住我</span>
       <% end %>

       <%= f.submit "登录", class: "btn btn-primary" %>
    <% end %>
    
    <p>新用户? <%= link_to "马上注册!", signup_path %></p>
  </div>
</div>
