<% provide(:title, '所有用户' ) %>
<h1>所有用户</h1>

<h4>搜索好友</h4>
<li class="inde">
  <strong> 搜索条件：</strong>
</li>
<!--粗查找-->
<div>

  <%= form_for(:result,url: searchfriends_path,:class=>'form_search',remote: true) do |f| %>

      <%= label_tag(:sex_label, "性别:") %>
      <%= radio_button_tag(:sex, "男") %>
      <%= label_tag(:male, "男") %>
      <%= radio_button_tag(:sex, "女") %>
      <%= label_tag(:female, "女") %>

      <strong><%= "|" %></strong>
      <%= f.label :from_height,"身高:" %>
      <%= f.number_field :from_height ,:class=>'form_search' %>
      <%= f.label :to_height,"cm到" %>
      <%= f.number_field :to_height,:class=>'form_search' %>
      <%= f.label :to_height,"cm" %>

      <strong><%= "|" %></strong>
      <%= f.label :from_age,"年龄:" %>
      <%= f.number_field :from_age ,:class=>'form_search'%>
      <%= f.label :to_age,"岁到" %>
      <%= f.number_field :to_age ,:class=>'form_search'%>
      <%= f.label :to_age,"岁" %>

      <strong><%= "|" %></strong>
      <%= label_tag(:marrige, "未婚") %>
      <%= check_box_tag(:marrige) %>


      <%= f.submit "查找",:class=>'form_search1'%>

  <% end %>

</div>

<div id="user-div">

  <%= render partial: 'search' %>
</div>


<%= will_paginate %>
